:root {
  --sunburst: #F8C617;
  --midnight: #252C37;
  --chocolate: #7F3700;
  --violin: #5D4100;
  --mintleaf: #C4E8BF;
}

* {
  box-sizing: border-box;
}

body {
  border: none;
  margin: 0;
}

#root {
  background-color: var(--midnight);
  height: 100vh;
  padding-top: 2%;
  margin: 0;
}

#inside {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  min-width: 500px;
  height: 60%;
  padding: 1% 0;
  box-shadow: 0 0 10px white;
  border-radius: 20px;
  border: none;
  background-color: var(--midnight);
  color: var(--sunburst);
  font-family: "Poetsen One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

#top-section {
  width: 90%;
  height: 11%;
}

#item-form {
  display: grid;
  grid-template-columns: 9fr 1fr;
  width: 100%;
  height: 100%;
  padding: 0;
}

#new-item {
  background-color: var(--sunburst);
  color: var(--midnight);
  border-radius: 10px 0 0 10px;
  border: none;
  padding-left: 3%;
  font-family: "Mooli", system-ui;
  font-weight: bold;
  font-size: 0.8em;
  font-style: normal;
}

#new-item:focus {
  outline: none;
  font-family: "Mooli", system-ui;
  font-weight: bold;
  font-size: 0.8em;
  font-style: normal;
}

#new-item::placeholder {
  color: var(--midnight);
  font-family: "Mooli", system-ui;
  font-weight: bold;
  font-style: normal;
}

#submit-item {
  background-color: var(--midnight);
  border: 1px solid var(--sunburst);
  border-radius: 0 10px 10px 0;
  color: var(--sunburst);
  padding: 0.6%;
  margin-left: 0.5%;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2%;
  align-items: center;
  width: 90%;
  margin: 5% 0;
  overflow: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0 2%;
  border-radius: 14px;
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0 0 10px var(--sunburst);

}

.item-description {
  width: 75%;
}


.buttons {
  display: flex;
  justify-content: space-between;
  width: 18%;
}

.edit-button, .delete-button {
  margin: 1%;
  transition: 0.3s;
  background-color: inherit;
  border: 1px onset black;
}

.edit-button:hover, .edit-button:active, .delete-button:hover, .delete-button:active {
  border: 1px outset black;
}

/* .delete {
  color: red;
} */

.submit {
  font-size: larger;
  transition: 0.3s;
}

/* .edit {
  color: blue;
} */

.delete, .edit {
  font-size: 1.3em;
  color: var(--sunburst);
}

.submit:hover, .submit:active {
  transform: scale(1.2);
}

#submit-button {
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--sunburst);
}


